.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1rem;
}

.filter {
  flex: 1 0 33%;
}

.logo {
  flex: 1 1 33rem;
  max-width: 33rem;
  margin: 0 auto;
}

.logo svg {
  display: block;
  width: 100%;
  max-width: 33rem;
  height: auto;
}

.title {
  display: none;
}

.header nav {
  text-align: right;
  flex: 1 0 33%;
  gap: var(--site-spacing);
  line-height: 1.4;
}

.header nav a {
  text-decoration: underline;
  transition: opacity 200ms ease;
}

.header nav a:hover {
  opacity: 0.7;
}
