.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--site-spacing);
}

.topLeft,
.bottomLeft {
  grid-column: 1 / 5;
}

.bottomLeft,
.bottomRight {
  grid-row: 2 / 2;
}

.mid {
  grid-column: 5 / 9;
  grid-row: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.topRight,
.bottomRight {
  grid-column: 9 / 13;
  text-align: right;
}

@media (max-width: 1300px) {
  .header {
    gap: 0 var(--site-spacing);
  }

  .mid {
    grid-row: 1 / 1;
  }

  .bottomLeft {
    grid-column: 1 / 9;
  }

  .bottomRight {
    grid-column: 9 / 13;
  }
}

.bottomLeft,
.bottomRight {
  display: flex;
}

.bottomLeft,
.bottomRight {
  align-items: flex-end;
}

.bottomRight {
  justify-content: flex-end;
}

.mid a {
  display: block;
  flex: 1 0 auto;
}

.mid svg {
  display: block;
  max-width: 440px;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 1300px) {
  .mid svg {
    max-width: 380px;
  }
}

.topRight {
  display: flex;
  justify-content: flex-end;
  gap: calc(var(--site-spacing) * 2);
}

.topRight a {
  transition: opacity 150ms ease;
}

.topRight a:hover {
  opacity: 0.6;
}

.topRight button {
  width: 22px;
  height: 22px;
  transition: color 150ms ease;
}

.topRight button:hover {
  color: var(--color-blue);
}

.topRight button svg {
  display: block;
  margin-left: auto;
  width: 100%;
  height: 100%;
}

.topLeft p {
  line-height: 1.15;
  font-weight: var(--text-bold);
}

.bottomRight p {
  line-height: 1.15;
  font-family: var(--text-serif);
  font-style: italic;
}

@media (min-width: 1300px) {
  .topRight a {
    font-size: 1.25rem;
  }

  .topLeft p,
  .bottomRight p {
    font-size: 1.3125rem;
  }
}

@media (max-width: 800px) {
  .header {
    gap: var(--site-spacing);
  }

  .topRight a,
  .topLeft,
  .bottomRight {
    display: none;
  }

  .mid {
    grid-column: 1 / 8;
  }

  .mid svg {
    margin: 0;
  }
}
