.pagination {
  margin-top: var(--site-spacing);
  padding: calc(var(--site-spacing) * 1) 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--site-spacing);

  font-weight: var(--text-bold);
  line-height: var(--lineheight-lg);
}

.next {
  text-align: right;
}

.pagination a {
  flex: 1 0 auto;
  display: block;
  transition: opacity 150ms ease;
}

.pagination a:hover {
  opacity: 0.6;
}

.pagination span,
.pagination svg {
  display: inline-block;
}

.pagination svg {
  width: 1em;
  height: 1em;
  transform: translateY(2px);
}

.pagination span + svg {
  margin-left: 1rem;
}

.pagination svg + span {
  margin-left: 1rem;
}
