.container {
  max-width: 500px;
  margin: 0 auto;
}

.list {
  border-bottom: 1px solid;
}

.button {
  display: block;
  margin-top: var(--site-spacing);
  padding: var(--site-spacing) 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3125rem;
  font-weight: var(--text-bold);
  transition: opacity 150ms ease;
}

.button:hover {
  opacity: 0.8;
}

.button span {
  display: block;
}

.button svg {
  display: block;
  transform: rotateZ(0);
  transition: transform 1000ms ease;
}

.list.is-active .button svg {
  transform: rotateZ(-135deg);
}

.content {
  transition: max-height 1000ms ease;
  overflow: hidden;
}

.item {
  border-top: 1px solid;
  padding: calc(var(--site-spacing) * 1) 0;
}

.link {
  display: flex;
  justify-content: space-between;
  transition: opacity 150ms ease;
}

.link:active {
  opacity: 0.8;
}

@media (pointer: fine) {
  .link:hover {
    opacity: 0.8;
  }
}

.content {
  flex: 1 1 auto;
  line-height: var(--lineheight-lg);
}

.content p:first-child {
  font-weight: var(--text-bold);
}

.imageWrap {
  flex: 0 0 110px;
  position: relative;
}

.dots div {
  position: absolute;
  top: calc((100% / 2) * var(--row));
  left: calc((100% / 2) * var(--cell));
  width: 3px;
  height: 3px;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  transition: opacity 150ms ease, transform 150ms ease,
    background-color 150ms ease;
}
