.filters {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--site-spacing) * 0.5) calc(var(--site-spacing) * 1);
}

.button {
  text-align: left;
  font-size: 1.3rem;
  font-weight: var(--text-bold);
  transition: opacity 200ms ease;
}

.button:not(.is-active) {
  opacity: 0.5;
}

.button:hover {
  opacity: 0.75;
}
