.container {
  margin-top: var(--site-spacing);
}

.grid {
  display: grid;
}

.item {
  position: relative;
  z-index: 0;
  height: 0;
  padding-bottom: 100%;
}

.item.is-active {
  z-index: 1;
}

.grid.is-animating .item {
  pointer-events: none;
}

.item.is-extra .link {
  color: #fff;
  background-color: #000;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition: opacity 120ms ease;
  background-color: var(--color);
}

.grid.is-animating .item.is-extra .link,
.item:not(.is-active) .link {
  opacity: 0;
}

.itemInner {
  position: relative;
  height: 100%;
}

.grid.is-animating .link {
  transition: none;
}

.item a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.item p {
  line-height: 1.2;
}

.item p:first-child {
  font-size: 1.1em;
}

.item p:not(:first-child) {
  margin-top: 0.3em;
  font-size: 0.8em;
}

.image {
  z-index: 0;
  position: relative;
}

.content {
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: 0;
  padding: 1em;
  height: 33.33%;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: opacity 400ms ease 400ms, transform 400ms ease 400ms;
  transform: translateY(5%);
}

.item:hover .content {
  transition: opacity 300ms ease, transform 300ms ease;
  transform: translateY(0px);
  opacity: 1;
}

.dots {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dots div {
  position: absolute;
  top: 0;
  left: 0;
  width: 4;
  height: 4;
  transform: translate(-50%, -50%);
  background-color: var(--color-black);
  transition: opacity 300ms ease, transform 300ms ease,
    background-color 300ms ease;
}

.item:not(.is-active) .dots div {
  opacity: 0.25;
}

.dots div:nth-child(2),
.dots div:nth-child(5),
.dots div:nth-child(8) {
  left: 50%;
}

.dots div:nth-child(3),
.dots div:nth-child(6),
.dots div:nth-child(9) {
  left: 100%;
}

.dots div:nth-child(4),
.dots div:nth-child(5),
.dots div:nth-child(6) {
  top: 50%;
}

.dots div:nth-child(7),
.dots div:nth-child(8),
.dots div:nth-child(9) {
  top: 100%;
}
