.work {
  padding-top: var(--site-spacing);
  padding-bottom: var(--site-spacing);
}

@media (min-width: 1200px) {
  .work {
    display: grid;
    gap: var(--site-spacing);
    grid-template-columns: 1fr 2fr;
  }
}

.inner > * + * {
  margin-top: calc(var(--site-spacing) * 1);
}

.text > * + * {
  margin-top: var(--site-spacing);
}

.text {
  line-height: 1.25;
}

.text h1 {
  font-size: 2em;
  font-weight: 600;
}

.text ul {
  list-style: none;
}

.text a {
  text-decoration: underline;
}

.text a:hover {
  opacity: 0.6;
}

.info h4 {
  font-style: italic;
  font-family: var(--text-serif);
  line-height: 1.25;
}

.info a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .info {
    padding-left: 20%;
  }
}

.grid {
  display: grid;
  gap: var(--site-spacing);
}

@media (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
