.work {
  padding-top: var(--site-spacing);
  padding-bottom: var(--site-spacing);
  display: grid;
  gap: var(--site-spacing);
}

@media (min-width: 1200px) {
  .work {
    display: grid;
    gap: var(--site-spacing);
    grid-template-columns: repeat(12, 1fr);
  }
}

@media (min-width: 1200px) {
  .map {
    grid-row: 1;
    grid-column: 1 / span 5;
    display: flex;
    /* align-items: flex-end; */
  }

  .inner {
    grid-row: 1;
    grid-column: 6 / span 12;
  }
}

@media (min-width: 1200px) {
  .map div {
    /* position: sticky;
    top: var(--site-spacing);
    bottom: var(--site-spacing); */
    flex: 1 0 auto;
    height: calc(100vh + var(--site-spacing));
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.map div div {
  background-color: var(--color-blue);
  height: 200px;
  max-width: 300px;
  margin-right: auto;
}

.inner > * + * {
  margin-top: calc(var(--site-spacing) * 1);
}

.text > * + * {
  margin-top: 1.25em;
}

.textBlock {
  margin: calc(var(--site-spacing) * 2) 0;
}

.text {
  line-height: 1.25;
}

.text h1 {
  font-size: 2rem;
  line-height: 1.15;
  font-weight: 600;
}

.text h2 {
  margin-top: var(--site-spacing);
  font-size: 2rem;
  line-height: 1.15;
  font-style: italic;
  font-family: var(--text-serif);
}

.text ul {
  list-style: none;
}

.text a {
  text-decoration: underline;
}

.text a:hover {
  opacity: 0.6;
}

.info h4 {
  font-style: italic;
  font-family: var(--text-serif);
  line-height: 1.25;
}

.info a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .info {
    padding-left: 20%;
  }
}

.grid {
  display: grid;
  gap: var(--site-spacing);
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
