.project {
  display: grid;
  gap: var(--site-spacing);
}

@media (min-width: 800px) {
  .project {
    padding-top: var(--site-spacing);
    display: grid;
    gap: var(--site-spacing);
    grid-template-columns: repeat(12, 1fr);
  }

  .map {
    grid-row: 1;
    grid-column: 1 / 4;
  }

  .inner {
    grid-row: 1;
    grid-column: 4 / 13;
  }
}

@media (min-width: 1200px) {
  .map {
    grid-row: 1;
    grid-column: 1 / 6;
    padding-top: 100%;
  }

  .inner {
    grid-row: 1;
    grid-column: 6 / 13;
  }
}

.mainImage {
  position: relative;
}

.dots {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dots div {
  position: absolute;
  top: calc(100% / 7);
  left: calc(100% / 12);
  width: 4px;
  height: 4px;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
}

@media (min-width: 800px) {
  .dots div {
    width: 8px;
    height: 8px;
  }
}

.dots div:nth-child(4),
.dots div:nth-child(5),
.dots div:nth-child(6) {
  top: 50%;
}

.dots div:nth-child(2),
.dots div:nth-child(5),
.dots div:nth-child(8) {
  left: 50%;
}

.dots div:nth-child(3),
.dots div:nth-child(6),
.dots div:nth-child(9) {
  left: auto;
  right: calc(100% / 12);
  transform: translate(50%, -50%);
}

.dots div:nth-child(7),
.dots div:nth-child(8),
.dots div:nth-child(9) {
  top: auto;
  bottom: calc(100% / 7);
  transform: translate(-50%, 50%);
}

.dots div:nth-child(9) {
  transform: translate(50%, 50%);
}

.content {
  margin-top: calc(var(--site-spacing) * 1);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--site-spacing);
}

@media (min-width: 800px) {
  .content {
    margin-top: calc(var(--site-spacing) * 2);
  }
}

.header {
  grid-column: 1 / 9;
}

.mainText {
  grid-column: 1 / 6;
}

.projectInfo {
  grid-column: 7 / 9;
}

.media {
  grid-column: 1 / 9;
  display: grid;
  gap: var(--site-spacing);
}

@media (max-width: 1200px) {
  .map {
    display: none;
  }

  .header {
    grid-row: 1;
    grid-column: 1 / 9;
  }

  .mainText {
    grid-row: 2;
    grid-column: 1 / 9;
  }
  .media {
    grid-row: 3;
    grid-column: 1 / 9;
  }
  .projectInfo {
    grid-row: 4;
    grid-column: 1 / 9;
  }
}

.mediaGrid {
  display: grid;
  gap: var(--site-spacing);
}

@media (min-width: 800px) {
  .mediaGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.info {
  line-height: var(--lineheight-lg);
}

.info + .info {
  margin-top: 1em;
}

.info h4 {
  line-height: var(--lineheight-lg);
  font-weight: var(--text-bold);
}

.info ul {
  list-style: none;
}

.info a {
  transition: opacity 150ms ease;
}

.info a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.title {
  font-size: 2rem;
  line-height: var(--lineheight-md);
  font-weight: var(--text-bold);
}
