.project {
  padding-top: var(--site-spacing);
  display: grid;
  gap: var(--site-spacing);
}

@media (min-width: 800px) {
  .project {
    display: grid;
    gap: var(--site-spacing);
    grid-template-columns: repeat(12, 1fr);
  }

  .map {
    grid-row: 1;
    grid-column: 1 / 4;
    display: flex;
    /* align-items: flex-end; */
  }

  .inner {
    grid-row: 1;
    grid-column: 4 / 13;
  }
}

@media (min-width: 1200px) {
  .map {
    grid-row: 1;
    grid-column: 1 / 6;
    display: flex;
    /* align-items: flex-end; */
  }

  .inner {
    grid-row: 1;
    grid-column: 6 / 13;
  }
}

.map div {
  display: none;
}

.map div div {
  background-color: var(--color-blue);
  height: 200px;
  max-width: 300px;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .map div {
    flex: 1 0 auto;
    height: calc(100vh + var(--site-spacing));
    /* display: flex; */
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.content {
  margin-top: calc(var(--site-spacing) * 2);
  display: grid;
  /* grid-template-rows: repeat(3, auto); */
  grid-template-columns: repeat(8, 1fr);
  gap: var(--site-spacing);
}

.header {
  grid-column: 1 / 9;
}

.mainText {
  grid-column: 1 / 6;
}

.projectInfo {
  grid-column: 7 / 9;
}

.media {
  grid-column: 1 / 9;
  display: grid;
  gap: var(--site-spacing);
}

@media (max-width: 1200px) {
  .header {
    grid-row: 1;
    grid-column: 1 / 9;
  }

  .mainText {
    grid-row: 2;
    grid-column: 1 / 9;
  }
  .media {
    grid-row: 3;
    grid-column: 1 / 9;
  }
  .projectInfo {
    grid-row: 4;
    grid-column: 1 / 9;
  }
}

.mediaGrid {
  display: grid;
  gap: var(--site-spacing);
}

@media (min-width: 800px) {
  .mediaGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.info {
  line-height: var(--lineheight-lg);
}

.info + .info {
  margin-top: 1em;
}

.info h4 {
  line-height: var(--lineheight-lg);
  font-weight: var(--text-bold);
}

.info ul {
  list-style: none;
}

.info a {
  text-decoration: none;
  transition: opacity 150ms ease;
}

.info a:hover {
  opacity: 0.6;
}

.title {
  font-size: 2rem;
  line-height: var(--lineheight-md);
  font-weight: var(--text-bold);
}
