.container {
  padding-top: var(--site-spacing);
  padding-bottom: calc(var(--site-spacing) * 2);
  display: grid;
  gap: var(--site-spacing) calc(var(--site-spacing) * 0.5);

  max-width: 1800px;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.cell {
  display: flex;
  flex-direction: column;
}

.cell h2 {
  display: block;
  font-size: 1.3125rem;
  font-weight: var(--text-bold);
}

.cell h2 a {
  display: inline-block;
  transition: opacity 150ms ease;
}

.cell h2 a:hover {
  opacity: 0.6;
}

.list {
  flex: 1 0 auto;
  border-top: 1px solid;
  margin-top: 1em;
  padding-top: 1em;
  column-gap: 1em;
  column-fill: auto;
  line-height: var(--lineheight-lg);
}

@media (min-width: 1300px) {
  .list {
    columns: 2;
  }
}

.list a {
  display: inline-block;
}

.list a span {
  display: inline-block;
  transition: opacity 150ms ease;
}

.list .is-active,
.list a:active span {
  opacity: 0.8;
  text-decoration: underline;
}

@media (pointer: fine) {
  .list a:hover span {
    opacity: 0.8;
    text-decoration: underline;
  }
}
