.person {
  max-width: 800px;
  margin: 0 auto;
}

.person > *:not(:first-child) {
  margin: var(--site-spacing) 0;
}

.person h1 {
  font-size: 2em;
  font-weight: 600;
}

.person > div {
  display: grid;
  gap: 1em;
}
