.Countdown {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: not-allowed;
  z-index: 900;
  background-color: var(--color-white);
}

.Countdown-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  font-size: 1rem;
  pointer-events: none;
  user-select: none;
}

.Countdown span {
  position: relative;
  display: inline-block;
  width: 1.2ch;
  text-align: center;
}

.Countdown span:nth-child(2n):not(:last-child) {
  margin-right: 1em;
}

.Countdown span:nth-child(2n):not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -1em;
  top: -1px;
  margin: auto;
  display: block;
  transform: translateX(-100%);
}
