.Filters {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--site-spacing) * 0.5) calc(var(--site-spacing) * 0.5);
}

@media (max-width: 800px) {
  .Filters {
    display: none;
  }
}

.Filters-button {
  text-align: left;
  font-weight: var(--text-bold);
  transition: color 150ms ease, opacity 150ms ease;
}

.Filters-button.is-active {
  color: var(--color-red);
}

.Filters-button:active {
  opacity: 0.8;
}

.Filters-button.is-active:active {
  opacity: 0.9;
}

@media (pointer: fine) {
  .Filters-button:hover {
    opacity: 0.8;
  }

  .Filters-button.is-active:hover {
    opacity: 0.9;
  }
}
