.Footer {
  --footer-gap: 0.5rem;
  padding: calc(var(--site-spacing) * 2) 0;
  font-size: 0.875rem;
}

@media (min-width: 600px) {
  .Footer {
    font-size: 1rem;
    padding: var(--site-spacing) 0;
  }
}

@media (min-width: 600px) and (max-height: 300px) {
  .Footer {
    padding-bottom: calc(var(--site-spacing) * 3);
  }
}

.Footer-grid {
  display: grid;
  gap: calc(var(--site-spacing) * 2) 0;
}

@media (min-width: 600px) {
  .Footer-grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.Footer-item {
  line-height: var(--lineheight-lg);
}

.Footer-item a {
  transition: opacity 150ms ease;
}

@media (hover: hover) {
  .Footer-item a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

.Footer-item a:active {
  opacity: 0.6;
  text-decoration: underline;
}

.Footer-item ul {
  list-style: none;
  display: grid;
  gap: 0 1em;
}

.Footer-item {
  grid-column: 1 / 13;
}

@media (min-width: 340px) {
  .Footer-item:nth-child(1),
  .Footer-item:nth-child(3) {
    padding-right: calc(var(--site-spacing) * 1);
    grid-column: 1 / 7;
  }

  .Footer-item:nth-child(2),
  .Footer-item:nth-child(4) {
    grid-column: 7 / 13;
  }
}

@media (min-width: 900px) {
  .Footer-item:nth-child(1) {
    grid-column: 1 / 5;
  }

  .Footer-item:nth-child(2) {
    grid-column: 5 / 8;
  }

  .Footer-item:nth-child(3) {
    grid-column: 9 / 10;
  }

  .Footer-item:nth-child(4) {
    grid-column: 11 / 13;
  }
}

@media (min-width: 1200px) {
  .Footer-item:nth-child(1) {
    grid-column: 1 / 6;
  }

  .Footer-item:nth-child(2) {
    grid-column: 7 / 9;
  }

  .Footer-item:nth-child(3) {
    grid-column: 9 / 11;
    padding-left: 0.66rem;
  }

  .Footer-item:nth-child(4) {
    grid-column: 11 / 13;
    padding-left: 0.33rem;
  }
}

.Footer-nav {
  font-weight: var(--text-bold);
}

.Footer-navItem {
  position: relative;
}

/*
.Footer-navItem.is-active::before {
  content: '';
  width: 4px;
  height: 4px;
  position: absolute;
  left: -10px;
  top: -1px;
  bottom: 0;
  margin: auto;
  background-color: currentColor;
}

@media (min-width: 800px) {
  .Footer-navItem.is-active::before {
    left: -13px;
    width: 5px;
    height: 5px;
  }
} */
