.Header {
  width: 100%;
  z-index: 99;
  top: 0;
  padding: var(--site-spacing) 0;
}

.Header-inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: calc(var(--site-spacing) * 0.75) var(--site-spacing);
}

.Header-topLeft,
.Header-bottomLeft {
  grid-column: 1 / 5;
}

.Header-bottomRight,
.Header-bottomLeft {
  grid-row: 2 / 2;
}

.Header-mid {
  grid-column: 5 / 9;
  display: flex;
  justify-content: center;
}

.Header-topRight,
.Header-bottomRight {
  grid-column: 9 / 13;
  text-align: right;
}

@media (max-width: 1300px) {
  .Header-mid {
    grid-row: 1 / 2;
  }

  .Header-bottomLeft {
    grid-column: 1 / 9;
  }
}

.Header-bottomLeft {
  display: flex;
}

.Header-bottomLeft {
  align-items: flex-end;
}

.Header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  transform: translateZ(0);
  opacity: 1;
}

.Header-logo:active {
  opacity: 0.7;
}

.Header-logoSymbol {
  flex: 1 0 auto;
  display: block;
  max-width: 230px;
  height: auto;
  margin: 0 auto;
}

.Header-showText {
  line-height: var(--lineheight-md);
  font-weight: var(--text-bold);
  cursor: default;
}

.Header-languageLinks {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  font-size: 0.875rem;
}

@media (min-width: 600px) {
  .Header-languageLinks {
    font-size: 1rem;
  }
}

.Header-languageLink + .Header-languageLink {
  margin-left: 0.75em;
}

div.Header-languageLink {
  cursor: default;
  font-weight: var(--text-bold);
}

@media (hover: hover) {
  a.Header-languageLink:hover .Header-languageLinkText {
    opacity: 0.8;
  }
}

a.Header-languageLink:active .Header-languageLinkText {
  opacity: 0.6;
}

.Header-beckmans {
  line-height: var(--lineheight-md);
  font-family: var(--text-serif);
  font-style: italic;
}

.Header-beckmans a {
  cursor: default;
}

@media (min-width: 1300px) {
  .Header-showText,
  .Header-beckmans {
    font-size: 1.3125rem;
  }
}

@media (max-width: 800px) {
  .Header-inner {
    gap: var(--site-spacing);
  }

  .Header-mid {
    padding-top: var(--site-spacing);
  }

  .Header-topLeft,
  .Header-topRight,
  .Header-bottomLeft {
    display: none;
  }

  .Header-topLeft {
    grid-column: 1 / 7;
  }

  .Header-mid {
    grid-column: 1 / 13;
    grid-row: 1;
  }

  .Header-topRight,
  .Header-bottomRight {
    grid-column: 7 / 13;
  }

  .Header-bottomRight {
    grid-row: 2;
  }

  .Header-logoSymbol {
    margin: 0 auto;
    max-width: 200px;
  }
}
