.Layout {
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.Layout-main {
  flex: 1 0 auto;
}

.Layout-content {
  padding: calc(var(--site-spacing) * 1) 0 calc(var(--site-spacing) * 3);
}

.Layout-previewButton {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--color-red);
  border-top-right-radius: 3px;
  color: #fff;
  padding: 0.8em;
  z-index: 9999;
}
