.Layout {
  position: relative;
  min-height: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.Layout-main {
  flex: 1 0 auto;
}

.Layout-content {
  position: relative;
  z-index: 1;
  padding: calc(var(--site-spacing) * 1) 0 calc(var(--site-spacing) * 3);
}

.Layout-previewButton {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background: var(--color-red);
  border-top-right-radius: 3px;
  color: #fff;
  padding: 0.8em;
  z-index: 1000;
}

.Layout-background {
  pointer-events: none;
  position: absolute;
  left: 0;
}

.Layout-background--about {
  top: 5%;
  bottom: 10%;
  transform: translateX(-58%) rotate(45deg);
  transition: transform 500ms ease;
}

.Layout-background--about svg {
  min-width: min(var(--site-width) * 1.2, 100vmin);
  min-height: min(var(--site-width) * 1.2, 100vmin);
  display: block;
}

@media (min-width: 1800px) {
  .Layout-background--about {
    transform: translateX(-40%) rotate(40deg);
  }
}

@media (min-width: 2400px) {
  .Layout-background--about {
    transform: translateX(-25%) rotate(35deg);
  }
}

@media (max-width: 900px) {
  .Layout-background--about {
    display: none;
  }
}

.Layout-background--credits {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: min(100vw, calc(var(--site-width) * 1.5));
  height: min(100vw, calc(var(--site-width) * 1.5));
}

.Layout-background--credits svg {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .Layout-background--credits {
    display: none;
  }
}
