.Pagination {
  margin-top: calc(var(--site-spacing) * 2);
  padding: calc(var(--site-spacing) * 2) 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--site-spacing);

  font-size: 0.875rem;
  font-weight: var(--text-bold);
  line-height: var(--lineheight-lg);
}

@media (min-width: 600px) {
  .Pagination {
    font-size: 1rem;
  }
}

@media (min-width: 800px) {
  .Pagination {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .Pagination {
    padding: calc(var(--site-spacing) * 1) 0 calc(var(--site-spacing) * 2);
  }
}

.Pagination-prev {
  text-align: left;
}

.Pagination-next {
  text-align: right;
}

.Pagination-link {
  flex: 1 0 auto;
  display: block;
  transition: opacity 150ms ease;
}

@media (hover: hover) {
  .Pagination-link:hover {
    opacity: 0.8;
  }
}

.Pagination-link:active {
  opacity: 0.6;
}

.Pagination-linkText,
.Pagination-linkSymbol {
  display: inline-block;
}

.Pagination-linkSymbol {
  width: 1em;
  height: 1em;
  transform: translateY(2px);
}

.Pagination-linkText + .Pagination-linkSymbol {
  margin-left: 1rem;
}

.Pagination-linkSymbol + .Pagination-linkText {
  margin-left: 1rem;
}
