.Lists {
  padding: calc(var(--site-spacing) * 2) 0;
  display: grid;
  /* gap: var(--site-spacing) calc(var(--site-spacing) * 0.5); */
  gap: var(--site-spacing) 1rem;
}

@media (min-width: 600px) {
  .Lists {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .Lists {
    grid-template-columns: repeat(3, 1fr);
  }
}

.Lists-cell {
  display: flex;
  flex-direction: column;
}

.Lists-title {
  display: block;
  font-size: 1.3125rem;
  font-weight: var(--text-bold);
}

.Lists-list {
  flex: 1 0 auto;
  border-top: 1px solid;
  margin-top: 1em;
  padding-top: 1em;
  column-gap: 0;
  column-fill: auto;
  line-height: var(--lineheight-lg);
  height: auto;
}

@media (min-width: 1300px) {
  .Lists-list {
    columns: 2;
    height: 11.5em;
  }
}

.Lists-item {
  padding-right: 1rem;
}

.Lists-itemLink {
  display: inline-block;
}

.Lists-itemText {
  display: inline-block;
  text-decoration-line: underline;
  text-decoration-color: transparent;
}

@media (hover: hover) {
  .Lists-itemLink:hover .Lists-itemText {
    text-decoration-color: currentColor;
  }
}

.Lists-itemLink:active .Lists-itemText {
  text-decoration-color: currentColor;
  opacity: 0.8;
}
