.Accordions {
  padding: var(--site-spacing) 0 calc(var(--site-spacing) * 3);
  width: min(100%, 500px);
  margin-inline: auto;
}

.Accordions-list {
  border-bottom: 1px solid;
}

.Accordions-button {
  display: block;
  padding: var(--site-spacing) 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3125rem;
  font-weight: var(--text-bold);
  transition: opacity 150ms ease;
}

.Accordions-list:not(:first-child) .Accordions-button {
  padding-top: calc(var(--site-spacing) * 2);
}

@media (hover: hover) {
  .Accordions-button:hover {
    opacity: 0.8;
  }
}

.Accordions-button:focus {
  outline: none;
}

.Accordions-button:focus-visible {
  outline: 1px solid;
}

.Accordions-button:active {
  opacity: 0.6;
}

.Accordions-buttonText {
  display: block;
}

.Accordions-buttonSymbol {
  display: block;
  transform: rotateZ(0);
}

.Accordions.is-ready .Accordions-buttonSymbol {
  transition: transform 600ms ease;
}

.Accordions-list.is-active .Accordions-buttonSymbol {
  transform: rotateZ(-135deg);
}

.Accordions-content {
  overflow: hidden;
}

.Accordions-item {
  border-top: 1px solid;
  padding: calc(var(--site-spacing) * 1) 0;
}

.Accordions-link {
  display: flex;
  justify-content: space-between;
  transition: opacity 150ms ease;
}

@media (hover: hover) {
  .Accordions-link:hover {
    opacity: 0.8;
  }
}

.Accordions-link:active {
  opacity: 0.6;
}

.Accordions-itemContent {
  padding-right: var(--site-spacing);
  flex: 1 1 auto;
  line-height: var(--lineheight-lg);
  font-weight: var(--text-bold);
  font-size: 0.875rem;
}

.Accordions-itemContent p + p {
  margin-top: 0.5rem;
}

.Accordions-imageWrap {
  flex: 0 0 114px;
  position: relative;
}

.Accordions-dots {
  pointer-events: none;
}

.Accordions-dots div {
  position: absolute;
  top: calc((100% / 2) * var(--row));
  left: calc((100% / 2) * var(--cell));
  width: 3px;
  height: 3px;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  transition: opacity 150ms ease, transform 150ms ease,
    background-color 150ms ease;
}
