.Video {
  position: relative;
  background-color: var(--color-black);
  user-select: none;
}

.Video.is-youtube {
  background-color: var(--color-red);
}

.Video.is-vimeo {
  background-color: var(--color-blue);
}

.Video-inner {
  position: relative;

  overflow: hidden;
}

.Video:not(.is-inView) .Video-inner {
  aspect-ratio: var(--video-width) / var(--video-height);
}

.Video .plyr__video-wrapper {
  opacity: 0;
  transition: opacity 300ms ease 1000ms;
}

.Video.is-inView .plyr__video-wrapper {
  opacity: 1;
}
