.footer {
  padding: calc(var(--site-spacing) * 2) 0 calc(var(--site-spacing) * 1);
}

@media (min-width: 600px) {
  .footer {
    padding: calc(var(--site-spacing) * 1) 0 calc(var(--site-spacing) * 1);
  }
}

.grid {
  display: grid;
  gap: var(--site-spacing);
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }
}

.item {
  line-height: var(--lineheight-lg);
}

.item a {
  transition: opacity 150ms ease;
}

.item a:active {
  opacity: 0.8;
  text-decoration: underline;
}

@media (pointer: fine) {
  .item a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}

.item ul {
  list-style: none;
  display: grid;
  gap: 0 1em;
}

.item {
  grid-column: 1 / 13;
}

@media (min-width: 340px) {
  .item:nth-child(3) {
    grid-column: 1 / 7;
  }

  .item:nth-child(4) {
    grid-column: 7 / 13;
  }
}

@media (min-width: 600px) {
  .item ul {
    display: flex;
    flex-wrap: wrap;
  }

  .item:nth-child(1) {
    grid-column: 1 / 13;
  }

  .item:nth-child(2) {
    grid-column: 1 / 4;
  }

  .item:nth-child(3) {
    grid-column: 4 / 8;
  }

  .item:nth-child(4) {
    grid-column: 8 / 13;
  }
}

@media (min-width: 1200px) {
  .item:nth-child(1) {
    grid-column: 1 / 6;
  }

  .item:nth-child(2) {
    grid-column: 7 / 9;
  }

  .item:nth-child(3) {
    grid-column: 9 / 11;
  }

  .item:nth-child(4) {
    grid-column: 11 / 13;
  }
}
