.text {
  padding: calc(var(--site-spacing) * 2) 0;
  display: grid;
  gap: calc(var(--site-spacing) * 2) var(--site-spacing);
}

.title h1 {
  font-size: clamp(1.3rem, 2.22vw, 2rem);
  line-height: var(--lineheight-md);
  font-weight: var(--text-bold);
}

@media (min-width: 800px) {
  .text {
    grid-template-columns: repeat(12, 1fr);
  }

  .title {
    grid-row: 1;
    grid-column: 1 / 6;
  }

  .body {
    grid-row: 1;
    grid-column: 6 / 13;
  }
}

@media (min-width: 1400px) {
  .title {
    grid-row: 1;
    grid-column: 1 / 7;
  }

  .body {
    grid-row: 1;
    grid-column: 7 / 12;
  }
}
