.columns {
  display: grid;
  gap: calc(var(--site-spacing) * 1);
}

@media (min-width: 500px) {
  .columns {
    display: block;
    columns: 2;
    gap: calc(var(--site-spacing) * 3);
  }
}

@media (min-width: 800px) {
  .columns {
    font-size: 1rem;
    columns: 3;
  }
}

@media (min-width: 1400px) {
  .columns {
    columns: 4;
  }
}

.column {
  border-top: 2px solid;
  padding: var(--site-spacing) 0;
  break-inside: avoid-column;
  line-height: var(--lineheight-lg);
}

@media (min-width: 500px) {
  .columns {
    border-top-width: 1px;
  }
}

.column h2 {
  font-weight: var(--text-bold);
  margin-bottom: max(1em, calc(var(--site-spacing) * 0.5));
}

.subtitle {
  font-weight: var(--text-bold);
}

.subtitle:not(:first-child) {
  margin-top: 1em;
}

.column a {
  text-decoration: none;
  transition: opacity 150ms ease;
}

.column a:hover {
  opacity: 0.7;
  text-decoration: underline;
}
