.columns {
  display: grid;
  gap: calc(var(--site-spacing) * 2) var(--site-spacing);
  margin-bottom: calc(var(--site-spacing) * -1);
}

@media (min-width: 500px) {
  .columns {
    display: block;
    columns: 2;
    gap: 0;
    column-gap: calc(var(--site-spacing) * 3);
  }
}

@media (min-width: 800px) {
  .columns {
    font-size: 1rem;
    columns: 3;
  }
}

@media (min-width: 1400px) {
  .columns {
    columns: 4;
  }
}

.column {
  border-top: 2px solid;
  padding: 1rem 0;
  break-inside: avoid-column;
  line-height: var(--lineheight-lg);
}

@media (min-width: 500px) {
  .column {
    border-top-width: 1px;
    padding: 1rem 0 2rem;
  }
}

.column h2 {
  font-weight: var(--text-bold);
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: var(--text-bold);
}

.subtitle:not(:first-child) {
  margin-top: 1em;
}

.column a {
  text-decoration: none;
  transition: opacity 150ms ease;
}

.column a:active {
  opacity: 0.8;
  text-decoration: underline;
}

@media (pointer: fine) {
  .column a:hover {
    opacity: 0.8;
    text-decoration: underline;
  }
}
