.video {
  position: relative;
  background-color: var(--color-black);
  user-select: none;
}

.youtube {
  background-color: var(--color-red);
}

.vimeo {
  background-color: var(--color-blue);
}

.inner {
  position: relative;
  opacity: 0;
  transition: opacity 200ms ease 1000ms;
  overflow: hidden;
  aspect-ratio: var(--width) / var(--height);
}

.inner.inView {
  opacity: 1;
}
