.video {
  position: relative;
  background-color: var(--color-black);
}

.youtube {
  background-color: var(--color-red);
}

.vimeo {
  background-color: var(--color-blue);
}

.inner {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  opacity: 0;
  transition: opacity 300ms ease 300ms;
}

.inner.inView {
  opacity: 1;
}

.poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  /* z-index: 99; */
}

.poster {
  object-fit: cover;
}
