:root {
  --text-sansserif: 'Maxeville', -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica, Arial, sans-serif;
  --text-serif: 'Affairs', serif;

  --text-normal: 400;
  --text-bold: 600;

  --lineheight-sm: 1;
  --lineheight-md: 1.15;
  --lineheight-lg: 1.25;

  --site-spacing: clamp(1rem, 2.22vw, 2rem);
  --site-width: calc(1440px - (var(--site-spacing) * 2));

  --color-black: #000;
  --color-blue: #a6b7d5;
  --color-white: #f5f1e7;
  --color-red: #dd7550;
}
