@font-face {
  font-family: 'Maxeville';
  src: url('/fonts/Maxeville-Regular.woff2') format('woff2'),
    url('/fonts/Maxeville-Regular.woff') format('woff');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Maxeville';
  src: url('/fonts/Maxeville-Bold.woff2') format('woff2'),
    url('/fonts/Maxeville-Bold.woff') format('woff');
  font-weight: 600;
  font-display: block;
}

@font-face {
  font-family: 'Affairs';
  src: url('/fonts/Affairs-Italic.woff2') format('woff2'),
    url('/fonts/Affairs-Italic.woff') format('woff');
  font-style: italic;
  font-display: block;
}
