@import 'config.css';
@import 'fonts.css';
@import 'base.css';
@import 'vendor/plyr.css';

.MainContent {
  padding: calc(var(--site-spacing) * 2) 0 calc(var(--site-spacing) * 3);
}

.u-preLine {
  white-space: pre-line;
}

@media (min-width: 800px) {
  .u-showSmall {
    display: none;
  }
}

@media (max-width: 800px) {
  .u-hideSmall {
    display: none;
  }
}
