@import 'config.css';
@import 'fonts.css';
@import 'base.css';

@import 'vendor/plyr.css';

@import 'components/container.css';
@import 'components/credits.css';
@import 'components/entry.css';
@import 'components/filters.css';
@import 'components/footer.css';
@import 'components/header.css';
@import 'components/image.css';
@import 'components/layout.css';
@import 'components/map.css';
@import 'components/pagination.css';
@import 'components/project.css';
@import 'components/projectAccordions.css';
@import 'components/projectLists.css';
@import 'components/projectsGrid.css';
@import 'components/text.css';
@import 'components/video.css';

.u-preLine {
  white-space: pre-line !important;
}

@media (min-width: 800px) {
  .u-showSmall {
    display: none !important;
  }
}

@media (max-width: 800px) {
  .u-hideSmall {
    display: none !important;
  }
}

.u-hideOverflow {
  overflow: hidden;
}
