.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  background-color: var(--color-black);
  color: var(--color-white);

  display: flex;

  opacity: 1;
  visibility: visible;
  transition: opacity 150ms ease, transform 150ms ease, visibility 150ms ease;
}

.menu:not(.is-active) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms ease, transform 150ms ease,
    visibility 150ms ease 150ms;
}

.inner {
  flex: 1 0 auto;
  padding: var(--header-height) 0;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: var(--site-spacing);
  right: var(--site-spacing);
  width: 2rem;
  height: 2rem;
}

.closeButton svg {
  width: 100%;
  height: 100%;
}

.inner ul {
  list-style: none;
  line-height: var(--lineheight-lg);
}

.inner a {
  transition: opacity 150ms ease;
}

.inner a:hover {
  opacity: 0.6;
}
